* {
    margin: 0;
    padding: 0;
}

html, body, div#root {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

div#root {
    display: flex;
    flex-direction: column;
}

div.pbar {
    width: 96.5%;
    height: 100%;
    background: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 6px;
    position: relative;
}

div.pbardrag {
    height: 100%;
    background: #4caf50;
    border-radius: 6px;
}

img {
    height: 96.5%;
}

div.playpause {
    width: 3.5%;
    height: 100%;
}

div.options {
    display: flex;
    flex-direction: row;
    height: 3.5%;
}
